.nav {
    background-color: #546A7B;
    font-size: 2rem;
}

.nav-item {
    margin: 10px;
    border-radius: 20px;
    border: aliceblue solid;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: #393D3F;
}

body {
    color: #393D3F;
    background-color: #F1FFFC;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: #546A7B;
    color: aliceblue;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    grid-area: header;
}
